upstream nginx_app_upstream {
  {% for port in nginx_app_ports %}
  server localhost:{{ port }};
  {% endfor %}
}

#
# Redirects all HTTP addresses to HTTPS addresses.
#
server {
  listen 80;
  server_name {{nginx_server_name}};

  return 301 https://{{nginx_server_name}}$request_uri;
}

server {
  listen 443;
  server_name {{nginx_server_name}};
  ssl on;
  ssl_certificate /etc/nginx/ssl/star.robomongo.org.crt;
  ssl_certificate_key /etc/nginx/ssl/star.robomongo.org.key;

  location / {
     client_max_body_size 50m;
     client_body_timeout  300s;
     add_header X-Accel-Buffering no;
     proxy_buffering off;
     proxy_set_header Host $host;
     proxy_pass http://nginx_app_upstream;
  }
}
